<header class="bg-dark-blue d-flex flex-row align-items-center px-4">
    <div href="/" class="d-flex flex-row align-items-end ml-2 text-light-grey">
        <a href="/" class="d-flex flex-row align-items-end text-light-grey text-decoration-none" title="Dashboard">
            <img id="logo" class="mr-3" src="/image/logo.png" alt="Logo">
            <h1 class="h3 m-0">WaterFall</h1>
        </a>
        <h2 class="h5 ml-2 m-0">- <%= view_title %></h2>
    </div>
</header>
