<head>
    <meta charset="UTF-8">
    <title>AppName</title>

    <link rel="stylesheet" href="/vendor/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0c7b4eac57.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/default.css">
</head>
