<div id="messagesContainer">
    <% if(typeof messages !== 'undefined') { messages.forEach(message => { %>
    <div class="jumbotron message bg-<%= message.type %> border-<%= message.type %>" style="display: none">
        <p class="m-0"><%= message.message %></p>
    </div>
    <% }) } %>
</div>
