<!-- Sidebar  -->
<nav id="sidebar" class="minimized d-flex flex-column bg-blue">
    <ul class="list-unstyled components mt-5">
        <li class="<% if(view == 'home') { %> active <% } %>mb-2 overflow-hidden text-nowrap">
            <a href="/" class="text-light-grey text-decoration-none" title="Dasboard">
                <span class="sidebar-icon"><i class="fas fa-home"></i></span>
                <span class="sidebar-text ml-3">Dashboard</span>
            </a>
        </li>
        <li class="<% if(view == 'electricityManagment') { %> active <% } %>mb-2 overflow-hidden text-nowrap">
            <a href="/electricity-managment" class="text-light-grey text-decoration-none" title="Electricity managment">
                <span class="sidebar-icon"><i class="fas fa-wrench"></i></span>
                <span class="sidebar-text ml-3">Electricity managment</span>
            </a>
        </li>
        <li class="<% if(view == 'market') { %> active <% } %> overflow-hidden text-nowrap">
            <a href="/market" class="text-light-grey text-decoration-none" title="Market">
                <span class="sidebar-icon"><i class="fas fa-dollar-sign"></i></span>
                <span class="sidebar-text ml-3">Market</span>
            </a>
        </li>
        <% if(user.type == 'admin') { %>
        <li class="hr border-light-grey my-4"></li>
        <li class="<% if(view == 'admin') { %> active <% } %> overflow-hidden text-nowrap">
            <a href="/admin" class="text-light-grey text-decoration-none" title="Administration">
                <span class="sidebar-icon"><i class="fas fa-cog"></i></span>
                <span class="sidebar-text ml-3">Administration</span>
            </a>
        </li>
        <% } %>
    </ul>

    <ul class="list-unstyled components mt-auto mb-4">
        <li class="<% if(view == 'profile') { %> active <% } %>mb-2 overflow-hidden text-nowrap">
            <a href="/profile" class="text-light-grey text-decoration-none" title="Profile">
                <span class="sidebar-icon"><i class="fas fa-user"></i></span>
                <span class="sidebar-text ml-3">Profile</span>
            </a>
        </li>
        <li class="overflow-hidden text-nowrap">
            <a href="#" class="logout text-light-grey text-decoration-none" title="Logout">
                <span class="sidebar-icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="sidebar-text ml-3">Logout</span>
            </a>
        </li>
    </ul>
</nav>

<div id="overlay" style="display: none"></div>
