.text-light-grey { color: #edf1f6!important; }

.border-info { border-color: #0b3d91!important; }
.border-success { border-color: #006e2c!important; }
.border-danger { border-color: #951d32!important; }
.border-warning { border-color: #640!important; }
.border-light-grey { border-color: #edf1f6!important; }
.border-left-white-lg,
.border-left-white-md {
    border-left-color: white;
    border-left-width: 2px;
    border-left-style: solid;
}
.border-right-white-lg,
.border-right-white-md {
    border-right-color: white;
    border-right-width: 2px;
    border-right-style: solid;
}
@media (max-width: 992px) {
    .border-right-white-lg { border-right-width: 0; }
    .border-left-white-lg { border-left-width: 0; }
}
@media (max-width: 768px) {
    .border-right-white-md { border-right-width: 0; }
    .border-left-white-md { border-left-width: 0; }
}

.btn-primary { background-color: #3490db; }
.btn-primary:hover { background-color: #2071b5; }
.btn-warning { color: #fff; }
.btn-outline-primary {
    color: #3490db;
    border-color: #3490db;
}
.btn-outline-primary:hover { background-color: #3490db; }
.btn-outline-warning:hover { color: #fff; }

.bg-dark-blue { background-color: #1d66a3; }
.bg-blue { background-color: #2071b5; }
.bg-info { background-color: #d9eaf8!important; }
.bg-success { background-color: #ccf1db!important; }
.bg-danger { background-color: #fed6dd!important; }
.bg-warning { background-color: #fec!important; }

.bg-info .text-info { color: #0b3d91!important; }
.bg-success .text-success { color: #006e2c!important; }
.bg-danger .text-danger { color: #951d32!important; }
.bg-warning .text-warning { color: #640!important; }

.h-100 { height: 100%; }

.col-xs-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 364px) {
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

#content {
    margin-top: 4em;
    margin-left: 80px;
}

section { padding: 2rem; }
section:nth-child(2n) { background-color: #d9eaf8; }

.section-title { margin-bottom: 1.5rem; }
.section-title h2 {
    font-weight: 700!important;
    font-size: 1.75rem;
    margin: 0;
}

.section-title h6 {
    font-size: 80%;
    font-weight: 400;
    color: #6c757d!important;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 990;
    height: 4em;
}

header h2 {
    padding-bottom: 2px;
    opacity: .7;
}

#logo { width: 2em; }

#sidebar {
    min-width: 275px;
    max-width: 275px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 980;
    transition: all 0.3s;
    padding: 4em 1.5rem 0 1.5rem;
}

#sidebar .active {
    opacity: 1;
    font-weight: bold;
}

#sidebar li {
    opacity: .5;
    transition: all 0.2s ease-in-out;
}

#sidebar li:not(.hr):hover,
#sidebar i:hover {
    opacity: 1;
    font-weight: bold;
}

#sidebar .sidebar-icon {
    display: inline-flex;
    justify-content: center;
    width: 32px;
    height: 16px;
    font-size: 1.1em;
}

#sidebar-menu {
    display: none;
    font-size: 1.25em;
}

#sidebar li.hr { border-bottom: solid 3px #edf1f6; }

#sidebar.minimized {
    min-width: 80px;
    max-width: 80px;
}
#sidebar.minimized #sidebar-menu { display: block; }

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 970;
}

#messagesContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 990;
    padding: 1em;
}

.message {
    font-weight: 500;
    white-space: nowrap;
    padding: 1rem 1.5rem;
    margin: 0;
    margin-bottom: .5rem;
    border: 1px solid rgba(0, 0, 0, 0)
}

.card {
    height: 100%;
    padding: .75em 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

p.input-group-prepend,
p.input-group-append {
    font-weight: bold;
    font-size: .8em;
    margin-bottom: 6px;
}

input.form-control.form-control-range { max-width: 300px; }
input.form-control.form-control-range:focus { box-shadow: none; }

form .btn { min-width: 6em; }

.btn[disabled=true] { cursor: not-allowed; }

tr.bg-danger td:first-child,
tr.bg-warning td:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
