.text-light-grey { color: #edf1f6!important; }
.border-light-grey { border-color: #edf1f6!important; }
.btn-warning { color: #fff; }
.btn-outline-warning:hover { color: #fff; }
.bg-dark-blue { background-color: #1d66a3; }
.bg-blue { background-color: #2071b5; }

.col-xs-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 364px) {
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

#content {
    margin-top: 4em;
    margin-left: 80px;
}

section {
    padding: 2rem 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #6c757d;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 4em;
}
header h2 {
    padding-bottom: 2px;
    opacity: .7;
}

#logo { width: 2em; }

#sidebar {
    min-width: 275px;
    max-width: 275px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    transition: all 0.3s;
    padding: 4em 1.5rem 0 1.5rem;
}

#sidebar .active {
    opacity: 1;
    font-weight: bold;
}

#sidebar li {
    opacity: .5;
    transition: all 0.5s ease-in-out;
}

#sidebar li:not(.hr):hover,
#sidebar i:hover {
    opacity: 1;
    font-weight: bold;
}

#sidebar .sidebar-icon {
    display: inline-flex;
    justify-content: center;
    width: 32px;
    height: 16px;
    font-size: 1.1em;
}

#sidebar-menu {
    display: none;
    font-size: 1.25em;
}

#sidebar li.hr { border-bottom: solid 3px #edf1f6; }

#sidebar.minimized {
    min-width: 80px;
    max-width: 80px;
}
#sidebar.minimized #sidebar-menu { display: block; }

#overlay {
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 997;
    opacity: 0;
}

@media (max-width: 768px) {
    #content { margin-left: 0; }
    #sidebar { margin-left: -250px; }
    #sidebar.minimized { margin-left: 0; }
}

input.form-control.form-control-range:focus { box-shadow: none; }
